
p {
    color: #b01000;
    background-color: lightcyan;
    font-size: 18px;
    font-family: "Open Sans";
}

* {
    font-family: "Open Sans";
}

label {
    display: inline-block;
    width: 100px;
}

form > div {
    margin-bottom: 20px;
}

select, textarea{
    width: 160px;
}
